
/* GENERAL */

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: #f0f0f0;
    background-color: black;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

p{
    size: 1.75rem;
}

#background-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

/* Navbar */

.navbar{
    top: 10px;
    left: 0px;
    right: 0px;
    height: 13.5%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 0px;
    color: white;
    font-size: 1.9rem;
    align-items: center; 
    justify-content: space-between;
    border-bottom: 0.5% solid rgba(173, 181, 189, 0.1);
}

.common{
    margin-right:2rem;
    padding: 1rem;
}

.label{
    font-size: 1.9rem;
    color: grey;
    cursor: pointer;
    display: none;
}

.nav-link{
    position: relative;
    float: left;
    display: block;
    color: #fff;
}

.nav-link:hover{
    font-size: 1.9rem;
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow: 
    0 0 10px #57c44b,
    0 0 20px #57c44b,
    0 0 40px #57c44b,
    0 0 80px #57c44b,
    0 0 160px #57c44b;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}

.nav-link:hover::before{
    width:100%;
}

.logo{
    padding: 0px;
    height: 9rem;
    margin-left: 10px;
}

.menu {
    display: none;
}

/* BUTTON */

.btn{
    margin-left: 400px;
    display: inline-block;
    margin:1rem auto 0 auto;
}

button {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: .1em;
    color: #57c44b;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #57c44b;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 0.1s, box-shadow 0.5s;
}

button:hover {
    transition-delay: 0s, 0.3s;
    color: #110606ae;
    box-shadow: 
    0 0 10px #57c44b,
    0 0 20px #57c44b,
    0 0 40px #57c44b,
    0 0 80px #57c44b,
    0 0 160px #57c44b;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #57c44b;
    transform: skewX(35deg);
    z-index: -1;
    transition: 0.4s;
}

button:hover:before { 
    width: 100%;
}

/* Home Page */

.home-event{
    display: flex; 
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.home-name{
    color: white;
    font-size: 5rem;   
    text-align: center;
    margin-bottom: 1.2%;
}

.home-date{
    font-weight: 100;
    color: white;
    margin: 30px 0 0%;
    font-size: 2rem;
}

.time{
    color: white;
    display: flex;
    justify-content: center;
    margin: 0% 0 10px;
}

.days{
    margin-right: 10%;
}

.hours{
    margin-right: 10%;
} 

.minutes{
    margin-right: 10%;
}

.time div{
    flex-basis: 100px;
}

.time div p{
    font-size: 4rem;
    margin-bottom: 10%;
}

.time div span{
    font-size: 1.5rem;
}

@media(max-width:991px) {
    .menu{
        display: initial;
        margin-right: 2%;
        color: #F2E9E4;
    }
    .label{
        display: none;
    }
    .home-button{
        border-left: transparent solid 10px ;
    }
    .home-button:hover{
        border-left: transparent solid 10px ;
    }
    .title {
        border-radius: 15px;
        background: rgba(7, 7, 7, 0.597);
        backdrop-filter: blur(2px);
        display: none;
    }

    .home-button {
        width: 100%;
    }

    .label:checked~.title {
        display: initial;
    }
}

/* ABOUT */

.about{
    margin:80px;
    font-size: 1.2rem;
}

.heading{
    margin:40px 80px 0px;
}

.flip-card-1 {
    perspective: 1000px;
    width: 600px;
    height: 400px;
    margin-left: 80px;
    margin-top:20px;
}

.flip-card-1-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card-1:hover .flip-card-1-inner {
    transform: rotateY(180deg);
}

.flip-card-1-front,
.flip-card-1-back,
.flip-card-2-front,
.flip-card-2-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-1-back {
    background: transparent;
    border: 2px solid #57c44b;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 563px;
    height: 352px;
    margin:0 0 0 40px;
}

.card-text{
    text-align:center;
    padding:0 3rem;
    font-size: 1.75rem;
}

.info-1{
    padding: 0px 70px 150px 0px;
    margin:0 15px 0 100px;
}

.heading-2{
    margin: 40px 0 0 450px;
    padding: 0px;
}

.flip-card-2 {
    perspective: 1000px;
    width: 600px;
    height: 400px;
    margin:0 0 0 100px;
}

.flip-card-2-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card-2:hover .flip-card-2-inner {
    transform: rotateY(180deg);
}

.flip-card-2-front {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-2-back {
    background: transparent;
    border: 2px solid #57c44b;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 563px;
    height: 352px;
    margin:10px 0px 0px 10px;
}

.info-2{
    padding: 0px;
    margin:60px 60px 0px 80px;
}

.flip-card-1-front .content, .flip-card-2-front .content {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 94%; 
    padding: 8px; 
    text-align:center;
    justify-content: center;
  }
  
  .flip-card-1-front .content p, .flip-card-2-front .content p{
    font-family: Dancing Script;
    font-weight: 500;
    font-size: 25px;
  }

  .part-2{
    padding-left: 0;
  }

  .content{
    margin-bottom:60px;
  }

  @media (max-width:1028px){
    .info-1{
        padding-bottom: 100px;
    }
    .heading-2{
        margin:0px 0px 50px 80px;
    }
	.part-2
    {
        position:absolute;
    }

    .flip-card-2{
        margin-left: 40px;
    }

    .info-2
    {
        margin-top: 550px; ;
    }
}

/* SPONSERS */

.sponsor{
    display:flex;
    justify-content: center;
    z-index: -1;
    position: relative;
}
  
#border_sponsors{
    width:100%;
    height:100%;
    display:flex;
    display: inline-block;
    text-align: center;
}

#heading_sponsors{
    color: white;
    font-size: 4.5rem;
    margin-top:5%;
}
      
      
  
._border_sponsors{
    width: 25%;
    height: 40%;
    color:white;
    display: flex;
    display: inline-block;
    flex-basis: column;
    margin-left:5.5%;
    cursor:pointer;
    overflow: hidden;
      
}

.__border_sponsors{
    width :25%;
    height: 40%;   
    display: flex;
    display: inline-block;
    flex-basis: column;
    margin-top: 50px;
    margin-left: 5.5%;
    cursor: pointer;  
}

.___border_sponsors{
    width :25%;
    height: 40%;
    display: flex;
    display: inline-block;
    flex-basis: column;
    margin-top: 50px;
    margin-left: 5.5%;
    margin-bottom: 4%;
    cursor: pointer;
}

._border_sponsors img{
    display:block;
    transition:transform 1s;
}

._border_sponsors img:hover{
    transform: scale(1.1);
}

.echoes{
    padding: 0;
    margin: 0 0 50px 0;
}

/* CONTACT PAGE */
      

#sponsor_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#main_contact_us{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: -1;
}

i{
    font-size: 3vw;
    margin-bottom: 100px;
}

i:hover{
    transition: transform 0.1s;
    transform: scale(1.3);
}

#d_contact_us{
    display: flex;
    flex-basis: row;
}
  
.title_contact_us{
    font-size: 30px;
    color: white;
    padding-top: 1%;
}
 
._title_contact_us{
   color: white;
   font-size: 20px;
   padding-top: 0%;
}

.query_contact_us{
  display: flex;
  flex-direction: column;
}

#query1_contact_us{
    margin-left: 150px;
    margin-bottom: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#query2_contact_us{
    margin-left: 125px;
    display: flex;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex: wrap;
    padding: 120px 80px;
}
  
#icon1_contact_us{
    color: white;
    width: 50px;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: transparent;
    cursor: pointer;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

#globe_contact_us:hover{
    transition: transform 1s;
}
 
#incon1_contact_us{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

#icon2_contact_us{
    padding-left: 30px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
  
#icon3_contact_us{
    padding-left: 30px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
 
#icon4_contact_us{
    padding-left: 30px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

#d_contact_us{
box-sizing: content-box;
display: flex;
text-align: center;
justify-content: center;
}

.content_contact_us {
    position: relative; 
    width: 100%;
    height: 100%;
    overflow: hidden; 
    padding: 0;
}
  
.content_contact_us::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 0.5; 
    pointer-events: none; 
}
 
.content_contact_us {
    position: relative;
    bottom : 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 60px;
}
 
#bt_contact_us:hover::before{
    width: 100%;
}
 
.pl_contact_us{
    display: flex;
    flex-basis: row;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}

.boxes{
    padding: 10px 5px;
}
    
#name_contact_us{
    margin-left: 10%;
}

.input_contact_us{
    background: transparent;
    width:290px;
    height:40px;
    padding-left: 2px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
   }

#fr_contact_us{
    color: #fff;
    font-weight: 500;
    width: 500px;
    text-align: center;
    padding-right: 180px;
    font-size: 2.5rem;
}
@media screen and (min-width: 1320px) {
    #main_contact_us {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    #main_contact_us {
        display: flex;
        flex-direction: column;
    }
    #message{
        margin-left: 5%;
        background: transparent;
    }
    #query2_contact_us{
        margin-left: 0%;
    }
}

@media screen and (max-width: 760px) {
    #main_contact_us {
      display: flex;
      flex-direction: column;
    }
    #message{
        margin-left: 8%;
        background: transparent;
    }
}

@media screen and (max-width: 670px) {
    #query1_contact_us{
        margin-left: 250px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    #query2_contact_us{
        margin-left: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(10px);
        flex: wrap;
    }
}
  
@media screen and (max-width: 530px) {
    #query1_contact_us{
        margin-left: -2rem;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    #query2_contact_us{
        margin-left: -2rem;
        margin-right: 5rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 679px) {
    #query2_contact_us{
        margin-left: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .query_contact_us{
        margin-right: 70rem;
    }
}

@media screen and (max-width: 460px) {
    #query1_contact_us{
        margin-left: 250px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    #query2_contact_us{
        margin-left: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #fr_contact_us{
        font-size: 25px;
        margin-left: -2rem;
    }
}

@media screen and (max-width: 360px) {
    
    #query2_contact_us{
        margin-left: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #fr_contact_us{
        font-size: 15px;
        margin-left: -6rem;
    }
    .pl_contact_us{
       font-size: 10px;
      }
      #btn_contact_us{
        size-adjust: 90%;
      }
}
@media screen and (max-width: 270px){
    #fr_contact_us{
        font-size: 10px;
        margin-left: -6rem;
    }
    .pl_contact_us{
        font-size: 5px;
       }
       #btn_contact_us{
         font-size: 5px;
       }
     
}
@media screen and (max-width: 260px){
    #fr_contact_us{
        font-size: 2%;
        margin-left: -6rem;
    }
    .pl_contact_us{
        font-size: 5px;
       }
       #btn_contact_us{
         font-size: 5px;
       }
       #query2_contact_us{
        background: transparent;
       }
}
@media screen and (max-width: 220px){
    #fr_contact_us{
        font-size: 1%;
        margin-left: -3rem;
    }
    .pl_contact_us{
        font-size: 2px;
       }
       #btn_contact_us{
         font-size: 2px;
       }
       #query2_contact_us{
        background: transparent;
       }
}

@media screen and (max-width: 280px) {
    #fr_contact_us{
        font-size: 15px;
        margin-left: -6rem;
    }
    .pl_contact_us{
        font-size: 5px;
       }
       #btn_contact_us{
         font-size: 5px;
       }
    #query1_contact_us{
        margin-left: 250px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    #query2_contact_us{
        margin-left: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
}

@media(max-width:650px){
    #fr_contact_us{
        padding: 0 0 0 -1rem;
    }
    #query1_contact_us{
        margin: 0;
        padding: 0;
    }
    #query2_contact_us{
        margin: 0;
        padding: 90px 0px;
    }
    .contact_row{
        margin: 0;
        padding: 0;
    }
    #message{
        background: #fff;
    }
}
      
#email{
    margin-left: 0%;
}

#message{
    margin-left: 0px;
}

*{
    padding: 0;
    margin:0;
}
